---
import Menu from "../Menu.astro"
import Footer from "../layout/Footer.astro"
---

<<<<<<< HEAD
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<a href="src/pages/om.astro">om</a>
		</header>
		<h1>Astro</h1>
	</body>
</html>
=======
<Menu/>


<Footer/>
>>>>>>> 4b3a099e3e0e3859aacdb486f50b00e85e9224bf
