---
import Menu from "../Menu.astro"
import Footer from "../layout/Footer.astro"
---
<Menu/>



<div class="container_1">

<div class="tekst_container_1">
<div style=><span style="color: #849500; font-size: 70px; font-family: Mazius Display; font-weight: 700; word-wrap: break-word">Om vores</span><span style="color: #849500; font-size: 70px; font-family: Mazius Display; font-weight: 400; word-wrap: break-word"> </span><span style="color: #849500; font-size: 70px; font-family: Mazius Display; font-style: italic; font-weight: 400; word-wrap: break-word"> koncept</span></div>

<p>Modsat de velkendte onlineplatforme for køb og salg, har vi valgt at forstærke secondhand-konceptet med en fysisk forretning. Det gør vi for dig, der som sælger vil slippe for at skulle forhandle om priserne, undgå brændte aftaler mv. Og for dig der som køber, gerne vil se, mærke og prøve før du køber. Alle dine varer bliver sat til salg online, og vores webshop fungerer samtidig som et katalog over alt det, som findes i den fysiske butik.</p>
</div>
<img src="imgs/animation_dummy.png" alt="forside">

</div>

<div class="pil_1">
<div><span style="color: #849500; font-size: 50px; font-family: Mazius Display; font-weight: 400; line-height: 50px; word-wrap: break-word">How to </span><span style="color: #849500; font-size: 50px; font-family: Mazius Display; font-style: italic; font-weight: 400; word-wrap: break-word">sell</span></div>
<img src="vectors/pil.svg" alt="pil">
</div>

<div class="container_2">
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/4aaf537e-1f74-4c77-9ea6-d0db611956c6/UDteRJjwaA.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
<div class="tekst_container_2">
<h1>Step 1</h1>
<div class="p_2">
Download vores app i appstore og oprette en bruger.  Saml derefter en masse tøj og opret dem i appen.
</div>

</div>

</div>

<div class="pil_2">
<img src="vectors/pil.svg" alt="pil">
</div>


<div class="container_3">
<div class="tekst_container_3">
<h1>Step 2</h1>
<p>Kom ned i en af vores butikker og hæng det pp med et prismærke g vi sætter det på display for dig vores butik. Hver gang du sælger et stykke tøj, bliver du betalt i vores app.  Dem kan du f udbetalt eller bruge dem til at shoppe for i vores butikker eller online shop.</p>
</div>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/6a33073d-a33d-48b9-9e18-881ddedbc25e/p5sk7HsxjE.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
</div>

<div class="aabningstider_container">
<h2>Åbningstider</h2>

<div class="butikker">
<div class="amager">
    <div><span style="color: #849500; font-size: 35px; font-family: Mazius Display; font-weight: 400; word-wrap: break-word">Kabomani</span><span style="color: #849500; font-size: 50px; font-family: Mazius Display; font-weight: 400; word-wrap: break-word"> </span><span style="color: #849500; font-size: 35px; font-family: Mazius Display; font-style: italic; font-weight: 400; word-wrap: break-word"> Amagerbro</span></div>
    <div class="oplysninger">
<div class="dage">
<h4>Mandag</h4>
<h4>Tirsdag</h4>
<h4>Onsdag</h4>
<h4>Torsdag</h4>
<h4>Fredag</h4>
<h4>Lørdag</h4>
<h4>Søndag</h4>

</div>
<div class="tider">
<h4>11.00-19:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
</div>


    </div>
</div>
<div class="frederiksberg">
    <div><span style="color: #849500; font-size: 35px; font-family: Mazius Display; font-weight: 400; word-wrap: break-word">Kabomani</span><span style="color: #849500; font-size: 50px; font-family: Mazius Display; font-weight: 400; word-wrap: break-word"> </span><span style="color: #849500; font-size: 35px; font-family: Mazius Display; font-style: italic; font-weight: 400; word-wrap: break-word"> Frederiksberg</span></div>

    <div class="oplysninger">
<div class="dage">
<h4>Mandag</h4>
<h4>Tirsdag</h4>
<h4>Onsdag</h4>
<h4>Torsdag</h4>
<h4>Fredag</h4>
<h4>Lørdag</h4>
<h4>Søndag</h4>

</div>
<div class="tider">
<h4>11.00-19:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
<h4>11.00-18:00</h4>
</div>


    </div>
</div>
</div>
 </div>

<div class="kundeservice_container">

   
   <div><span style="color: #513C22; font-size: 50px; font-family: Mazius Display; font-weight: 400; word-wrap: break-word">Kontakt </span><span style="color: #513C22; font-size: 50px; font-family: Mazius Display; font-style: italic; font-weight: 400; word-wrap: break-word">kundeservice</span></div>
 <div class="oplysninger_container">
        <h5>Tlf: 30687334</h5>
<h5>Email: support@tapirus.dk</h5>
<h5>CVR: 40487093</h5> 
</div>

  


   

</div>



 

<Footer/>

<style>
.aabningstider_container{
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
padding-bottom: 50px;
background-color: #F3ECD9;}

.butikker{
display: flex;
align-items: flex-start;
gap: 500px;
}

.amager{
    display: flex;
flex-direction: column;
align-items: center;
}

.frederiksberg{
    display: flex;
flex-direction: column;
align-items: center;
}

.oplysninger{
    display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}







.kundeservice_container{
padding-top: 8%;
  background-color: #FFFAF5;
display: flex;
flex-direction: column;
align-items: center;

}

.oplysninger_container{

}






.container_1{
    background-color: #FFFAF5;
   display: flex;
align-items: center;
gap: 178px;
padding: 116px 123px;
}
.pil_1{
     background-color: #FFFAF5;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 22.769px;
padding-bottom: 10%;
}



.container_2{
background-color: #F3ECD9;
    padding: 100px 150px;
    display: flex;
justify-content: center;
align-items: center;
gap: 200px;
}
.tekst_container_2{

display: flex;
flex-direction: column;
align-items: flex-end;

}

.pil_2{
background-color: #F3ECD9;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 22.769px;
padding-bottom: 2%;
}


.container_3{
background-color: #FFFAF5;
padding: 100px 150px;
display: flex;
justify-content: center;
align-items: center;
gap: 200px;
}

.tekst_container_3{

display: flex;
flex-direction: column;
align-items: flex-start;


}



h1{
    color: var(--Accent-farve-2, #849500);
text-align: center;
font-family: "Mazius Display";
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


h2{
    color: #849500;
font-family: "Mazius Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h3{
color: #849500;
font-family: "Mazius Display";
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

h4{
color: var(--Skrift-farve, #000);
text-align: center;
font-family: "Mazius Display";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */

}

h5{
    color: var(--Skrift-farve, #000);
text-align: center;
font-family: "Mazius Display";
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
p{
    color: var(--Skrift-farve, #000);
font-family: "Mazius Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 208.333% */
}

.p_2{
color: var(--Skrift-farve, #000);
text-align: right;

/* Copy tekst */
font-family: "Mazius Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 208.333% */
}
 



/* mobile */
@media screen and (max-width: 768px){

.aabningstider_container{
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
padding-bottom: 50px;
background-color: #F3ECD9;}

.butikker{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 100px;
}

.amager{
    display: flex;
flex-direction: column;
align-items: center;
}

.frederiksberg{
    display: flex;
flex-direction: column;
align-items: center;
}

.oplysninger{
    display: flex;
flex-direction: row;
align-items: center;

}









.container_1{
    
display:inline-flex;
flex-direction: column;
align-items: center;
gap: 39px;
padding: 134px 43px;
}
.pil_1{


display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 22.769px;
padding-bottom: 10%;
}



.container_2{
background-color: #F3ECD9;
    padding: 100px 40px;
    display: inline-flex;
flex-direction: column;
justify-content: center;

gap: 10px;
}

.tekst_container_2{

    display: inline-flex;
flex-direction: column;
justify-content: center;
}


.pil_2{
background-color: #F3ECD9;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 22.769px;
padding-bottom: 5%;
}


.container_3{
background-color: #FFFAF5;
padding: 100px 40px;
    display: flex;
flex-direction: column;
justify-content: center;

gap:50px;
}

.tekst_container_2{

display: flex;
flex-direction: column;
align-items: flex-start;
}


}
</style>