<button class="købnu">Her er en <span style="font-style: italic">knap</span></button>

<style>
button {
    border: none;
    border-radius: 5px;
    background-color: #849500;
    font-family: Mazius Display;
    font-size: 25px;
    width: 300px;
    height: 40px;
    color: #FFFAF5;
    padding: -80px;
}

button:hover {
    color: #849500;
    background-color: #C8D94A;
}

@media screen and (max-width: 768px) {
button {
    width: 200px;
    height: 40px;
    color: #FFFAF5;
    padding: -80px;
    font-size: 20px;
}
button:hover {
    color: #849500;
    background-color: #C8D94A;
}

</style>

