<footer class="footer">
<div class="footer1">
    <div>
        <div> <h4>Kabomani</h4></div>
        <div><p>Om os</p></div>
        <div><p>Åbningstider og butikker</p>
        </div>
        <div><p>Job</p></div>
    </div>
    <div>
        <div><h4>Discoveer</h4></div>
        <div><p>Sådan fungere det</p></div>
        <div><p>Mobilapps</p></div>
        <div><p>Kontakt</p></div>
    </div>
    <div>
        <div><h4>Konto</h4></div>
        <div><p>Min konto</p></div>
        <div><p>Ordrer</p></div>
        <div><p>Kurv</p></div>
    </div>
</div>
<div class="line"></div>

<div class="vectors">
    <div class="vectors1">
        <div><img src="/public/vectors/facebook.svg" alt=""></div>
        <div><img src="/public/vectors/insta.svg" alt=""></div>
        <div><img src="/public/vectors/tiktok.svg" alt=""></div>
    </div>
    <div class="vectors2">
        <div><img src="/public/vectors/google-play-badge 1.svg" alt=""></div>
        <div><img src="/public/vectors/Group.svg" alt=""></div>
    </div>
</div>
</footer>

<style>
    .footer {
        background-color: rgba(81, 60, 34, 1);
    }
    @media (min-width: 768px) {
    .footer1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 200px;
        color: white;
        font-family: Mattone;
        font-size: 16px;
        margin-left: 100px;
        padding-top: 50px;
    
    }
    .line {
        padding: 20px;
            border-bottom: 2px solid white; /* Hvid streg under div'en */
            width: 95%; /* Fylder hele bredden */
            box-sizing: border-box; 
            text-align: center;
            margin: 0 auto;
            opacity: 30%;
    }
    .vectors {
        display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
gap: 1000px;
padding-top: 50px;
padding-bottom: 50px;
    }
    .vectors1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 40px;
        gap: 30px;
    }
    .vectors2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        
    }
}
@media (max-width: 768px) {
    .footer1 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        color: white;
        font-family: Mattone;
        font-size: 16px;
        margin-left: 45px;
        padding-top: 50px;
        gap: 80px;
        padding-bottom: 50px;
    }
    .line {
        padding: 20px;
            border-top: 2px solid white; /* Hvid streg under div'en */
            width: 85%; /* Fylder hele bredden */
            box-sizing: border-box; 
            text-align: center;
            margin: 0 auto;
            opacity: 30%;
    }
    .vectors{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .vectors1 {
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-left: 150px;
        margin-right: 150px;
        padding-bottom: 60px;
        padding-top: 30px;

    }
    .vectors2 {
        order: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: -20px;
    }
}
</style>